<h1>Listing names</h1>

<style>
 table { table-layout: fixed; }
 /*table th, table td { overflow: hidden; }*/
</style>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 30%">Title</th>
      <th style="width: 60%">Subtitle</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>

  <tbody>
    <% @names.each do |name| %>
    <tr>
      <td><%= name.title %></td>
      <td><%= name.subtitle %></td>
      <td>
        <div class="btn-group">
          <%= link_to "#{name.votes_for} <i class='icon-thumbs-up'></i>".html_safe, {:remote => true, :controller => 'names', :action => 'vote', :id => name.id, :format => 'json'},
          {:class => 'btn btn-success', :id => "item_#{name.id}_up"} %>
          <%= link_to "#{name.votes_against} <i class='icon-thumbs-down'></i>".html_safe, {:remote => true, :controller => 'names', :action => 'vote', :id => name.id, :vote => 'false', :format => 'json' },
          {:class => 'btn btn-danger', :id => "item_#{name.id}_down"} %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Name', new_name_path %>
